* {
    margin: 0;
    padding: 0;;
}
html {
    background: url(images/xp_wallpaper_phone.jpg) no-repeat center fixed;
    background-size: cover;
}

/*CSS for tablets*/
@media only screen and (min-width: 768px) {
}

/*CSS for PC's*/
@media only screen and (min-width: 1000px) {
   html {
    background: url(images/xp_wallpaper.jpg);
   }
}

/*CSS for 16:10 displays*/
@media only screen and (min-height: 1200px) {
    html {
        background: url(images/xp_wallpaper_1200.jpg);
    }
}